body {
  background-color: rgba(74, 162, 245, 0.2);
}

.product-management-container {
  width: 70%; /* Sayfanın genişliği */
  margin: 20px auto; /* Sayfada ortala */
  font-size: 16px; /* Metin boyutunu küçült */
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 1px #274aa1;
  border-radius: 10px;
  /* Daha küçük ekranlarda genişliği 100% yap */
  @media (max-width: 768px) {
    width: 100%;
  }
}

.product-table {
  width: 100%;
  border-collapse: collapse; /* Hücreler arasındaki boşluğu kaldır */
  table-layout: auto; /* Sütun genişliklerini içerik uzunluğuna göre otomatik olarak ayarla */
  font-size: 14px; /* Metin boyutunu küçült */
}

.product-table th,
.product-table td {
  padding: 6px; /* Hücre içeriği ile kenar arasındaki boşluğu azalt */
  white-space: nowrap; /* Uzun metinlerin satıra sığmasını sağla */
  overflow: hidden; /* Taşan içeriği gizle */
  text-overflow: ellipsis; /* Taşan içeriği üç nokta ile göster */
  letter-spacing: 0.8px;
}

.product-table th {
  text-align: left;
  background-color: rgba(69, 28, 255, 0.6);
  color: white;
}

.product-table td {
  border-bottom: 1px solid rgb(189, 189, 189, 0.4);
  font-weight: 600;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.td-opt {
  width: 60px;
}

.name-product {
  margin-left: 10px;
}

.options-logo {
  margin-left: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: -10px;
}

.button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}
