@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: white;
}

.product-container {
  background-color: rgba(255, 255, 255, 0.1);
  height: 700px;
  width: 70%;
  margin: 0% 14.5%;
  padding: 10px 10px;
  border-radius: 10px;
}

.p-title-container {
  margin: 0px;
  padding: 20px 20px 20px 10px;
  display: inline-block;
  font-weight: 900;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
}

.product-management-container {
  margin: 5% auto; /* Sayfada ortala */
  font-size: 16px; /* Metin boyutunu küçült */
  min-height: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 4px 5px 2px #274aa1;
  border-radius: 5px;
  /* overflow-y: auto; */

  /* Daha küçük ekranlarda genişliği 100% yap */
  @media (max-width: 768px) {
    width: 100%;
  }
}

.addButton {
  float: right;
  padding: 20px;
  margin-right: 30px;
  text-decoration: none;
}

.product-table {
  width: 100%;
  border-collapse: collapse; /* Hücreler arasındaki boşluğu kaldır */
  table-layout: auto; /* Sütun genişliklerini içerik uzunluğuna göre otomatik olarak ayarla */
  font-size: 14px; /* Metin boyutunu küçült */
}

.product-table th,
.product-table td {
  padding: 6px; /* Hücre içeriği ile kenar arasındaki boşluğu azalt */
  white-space: nowrap; /* Uzun metinlerin satıra sığmasını sağla */
  overflow: hidden; /* Taşan içeriği gizle */
  text-overflow: ellipsis; /* Taşan içeriği üç nokta ile göster */
  letter-spacing: 0.8px;
}

.product-table th {
  text-align: left;
  background-color: rgb(55, 72, 169);
  color: white;
  padding: 20px 10px;
  font-size: 16px;
}

/* Alternatif satır renkleri için stil */
.product-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Beyaz */
}

.product-table tbody tr:nth-child(even) {
  background-color: #e0e0e0; /* Gri */
}

.product-table td {
  border-bottom: 1px solid rgb(189, 189, 189, 0.4);
  font-weight: 600;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.td-opt {
  width: 60px;
}

.name-product {
  margin-left: 10px;
}

.options-logo {
  margin-left: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: -10px;
}

.button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.addButton {
  background: green;
  color: white;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
}

.menu {
  position: absolute;
  transform: translateY(-90%);
  margin-left: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  z-index: 10;
  transition: left 2s ease, opacity 0.3s ease; /* Animasyon ekle */
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.menu-open {
  position: absolute;
  transform: translateY(-90%);
  margin-left: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  z-index: 10;
  background-color: rgb(94, 24, 84);
  transition: 1s;
  opacity: 0;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px; /* Menü kutusunun sol kenarının dışına çıkar */
  transform: translateY(-50%) rotate(270deg); /* Y ekseninde ters döndür */
  border-width: 10px;
  border-style: solid;
  width: 1px;
  border-color: rgb(33, 73, 158) transparent transparent transparent; /* Sol kenar sivri uç */
}

.menu-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.product-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  z-index: 9999; /* Formun diğer içeriklerin üstünde kalmasını sağlar */
}

.product-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.product-form input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: none;
}

.product-form input[type='number'] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 7px;
}

.product-form button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.product-form button[type='submit']:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Siyah arkaplan, %40 opaklık */
  z-index: 999; /* Overlay'in formun altında kalmasını sağlar */
}

.dellogo {
  position: relative;
  float: right;
  cursor: pointer;
}

.gif-container{
  background-color: rgb(33, 27, 47);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}
.gif-subcontainer{
  margin-top: -40px;
}

.returnmainbutton{
  display:flex;
  justify-content: center;
  align-items: center;
}

.returnmainbutton > button{
  font-size: 25px;
  color: white;
  font-weight: 700;
  padding: 20px;
  background: none;
  border: 1px solid black;
  box-shadow: 1px 1px 10px 2px gainsboro;
  border-radius: 4px;
  cursor: pointer;
}
